
@model Eclerx.Kallem.MVC._2.Models.Books
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h3>Product Name : @Model.BookName</h3>
<ul>
    <li><b>Book: </b>@Model.BookName</li>
    <li><b>Genre: </b>@Model.Genre</li>
    <li><b>Author: </b>@Model.AuthorName</li>
</ul>


